{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/about_page.css' %}">
{% endblock style %}


{% block schema %}
{% if businessSchema %}{{businessSchema|safe}}{% endif %}
{% endblock schema %}


{% block body %}
<div class="d-flex flex-wrap">
    <div class="w-50 mobiscreenview"><img src="{{customdata.displayimage.url}}"width="100%" class="mobiscreenview" alt=""></div>
    <div class="w-30 mobiscreenview py-5 px-3">{{customdata.aboutDescript|safe}}</div>
</div>
<div class="mx-auto py-4 text-center">
    {{customdata.meetteam|safe}}
</div>



<div class="about-content w-75 mobiscreenview d-flex flex-wrap py-2 mx-auto" style="background-color:#f7fcfc;">
    {% for i in docdata %}

    <div class="col-lg-6 mt-4 shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="member d-flex centerMobileOnly mobiflex-wrap align-items-start">
          <div class="pic centerMobileOnly">
            {% if i.image %}
            <img  src="{{i.image.url}}" class="img-fluid" alt="">
            {% elif i.gender == "male" %}
            <img  src="{% static 'default_male_doctor_profile_pic.png' %}" class="img-fluid" alt="">
            {% else %}
            <img  src="{% static 'default_female_doctor_profile_pic.png' %}" class="img-fluid" alt="">
            {% endif %}</div>
          <div class="member-info px-3 centerMobileOnly">
            <h4>{{i.name}}</h4>
            <span>{{i.job_title}}</span>
            <div class="social round-icon mt-2">
                {% for social in i.social_links.all %}
					<a class="mr-1" target="_blank" href="{{social.url}}">
						<i class="fab fa-{{social.name}}"></i>
					</a>
			    {% endfor %}
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
   


    {% if is_paginated %}
        <div class="wrapper">
            <nav>
                <ul class="d-flex justify-content-center p-0">
                    {% if page_obj.has_previous %}
                    <li class="page-item p-2"><a class="page-links"
                            href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                    <li class="page-item p-2"><a class="page-links" href="?page={{i}}">{{i}}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item p-2"><a class="page-links" href="?page={{page_obj.next_page_number}}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
</div>
<div class="w-75 mobiscreenview mx-auto"> {{customdata.afterTeamContent|safe}}</div>
{% endblock body %}


{% block script %}
{% endblock script %}